<div class="container mt-5">
<h2 class="mb-3 fw-bold">Stupid coaching!</h2>
  <form action="/answer" data-turbo="false" class="row row-cols col-6 g-3 align-items-center">
      <label for="question" class="form-label">Ask your coach anything</label>
      <div class="input-group input-group-lg">
        <input type="text" name="question" placeholder="Ask your question here" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
  </form>
</div>
